
<div class="agileits_header">
    <div class="container">
      <div class="w3l_offers">
        <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="products.html">SHOP NOW</a></p>
      </div>
      {%if not request.user.is_authenticated%}
      <div class="agile-login">
        <ul>
          <li><a href="{% url 'customer-register'%}"> Create Account </a></li>
          <li><a href="{% url 'customer-login'%}">Login</a></li>
          <li><a href="">Help</a></li>
          
        </ul>
      </div>
      {%else%}
       <div class="agile-login">
        <ul>
          <li><a href=""> {{request.user.first_name}} {{request.user.last_name}} </a></li>
          
          <li><a href="{%url 'auth_logout'%}">Log out</a></li>
          <li><a href="">Help</a></li>
          
        </ul>
      </div>
      <div class="product_list_header">  
          <form action="#" method="post" class="last"> 
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="w3view-cart" type="submit" name="submit" value="" style="color: white;"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
          </form>  
      </div>
      {%endif%}
      <div class="clearfix"> </div>
    </div>
  </div>

  <div class="logo_products">
    <div class="container">
    <div class="w3ls_logo_products_left1">
        <ul class="phone_email">
          <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0752) 258 41599</li>
          
        </ul>
      </div>
      <div class="w3ls_logo_products_left">
        <h1><a href="{%url 'home'%}">Book store</a></h1>
      </div>
    <div class="w3l_search">
      <form action="#" method="post">
        <input type="search" name="Search" placeholder="Search for a Product..." required="">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
      
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //header -->
<!-- navigation -->
  <div class="navigation-agileits">
    <div class="container">
      <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> 
              <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{%url 'home'%}" class="act">Home</a></li> 
                  <!-- Mega Menu -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="multi-gd-img">
                          <ul class="multi-column-dropdown">
                            <h6><a href="{%url 'get_books_by_category' id=0%}">All Categories</a></h6>
                            {% for category in categories%}
                            <li><a href="{%url 'get_books_by_category' id=category.id %}">{{category.Name}}</a></li>

                            {%endfor%}
                          </ul>
                        </div>  
                        
                      </div>
                    </ul>
                  </li>
                    <!-- <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Household<b class="caret"></b></a>
                      <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                          <div class="multi-gd-img">
                            <ul class="multi-column-dropdown">
                              <h6>All Household</h6>
                              <li><a href="household.html">Cookware</a></li>
                              <li><a href="household.html">Dust Pans</a></li>
                              <li><a href="household.html">Scrubbers</a></li>
                              <li><a href="household.html">Dust Cloth</a></li>
                              <li><a href="household.html"> Mops </a></li>
                              <li><a href="household.html">Kitchenware</a></li>
                            </ul>
                          </div>
                          
                          
                        </div>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal Care<b class="caret"></b></a>
                      <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                          <div class="multi-gd-img">
                            <ul class="multi-column-dropdown">
                              <h6>Baby Care</h6>
                              <li><a href="personalcare.html">Baby Soap</a></li>
                              <li><a href="personalcare.html">Baby Care Accessories</a></li>
                              <li><a href="personalcare.html">Baby Oil & Shampoos</a></li>
                              <li><a href="personalcare.html">Baby Creams & Lotion</a></li>
                              <li><a href="personalcare.html"> Baby Powder</a></li>
                              <li><a href="personalcare.html">Diapers & Wipes</a></li>
                            </ul>
                          </div>
                          
                        </div>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Packaged Foods<b class="caret"></b></a>
                      <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                          <div class="multi-gd-img">
                            <ul class="multi-column-dropdown">
                              <h6>All Accessories</h6>
                              <li><a href="packagedfoods.html">Baby Food</a></li>
                              <li><a href="packagedfoods.html">Dessert Items</a></li>
                              <li><a href="packagedfoods.html">Biscuits</a></li>
                              <li><a href="packagedfoods.html">Breakfast Cereals</a></li>
                              <li><a href="packagedfoods.html"> Canned Food </a></li>
                              <li><a href="packagedfoods.html">Chocolates & Sweets</a></li>
                            </ul>
                          </div>
                          
                        
                        </div>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<b class="caret"></b></a>
                      <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                          <div class="multi-gd-img">
                            <ul class="multi-column-dropdown">
                              <h6>Tea & Coeffe</h6>
                              <li><a href="beverages.html">Green Tea</a></li>
                              <li><a href="beverages.html">Ground Coffee</a></li>
                              <li><a href="beverages.html">Herbal Tea</a></li>
                              <li><a href="beverages.html">Instant Coffee</a></li>
                              <li><a href="beverages.html"> Tea </a></li>
                              <li><a href="beverages.html">Tea Bags</a></li>
                            </ul>
                          </div>
                
                        </div>
                      </ul>
                    </li> -->
                  <li><a href="gourmet.html">Gourmet</a></li>
                  <li><a href="offers.html">Offers</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              </nav>
      </div>
    </div>